h1.post-title.entry-title,h2.post-title.entry-title,h3.post-title.entry-title,h4.post-title.entry-title{color:#138be6;padding:15px;font-size:24px;margin:0;border-bottom:1px solid rgba(0,0,0,0.14);}
#sidebar-wrapper,#comments .comment-form p:after {display:none;}
#main-wrapper {width:100%;float:none;border:0;}
/* Arlina Post Navigation */
#blog-pager{position:relative;display:block;width:100%;margin:20px 10px 20px 0;text-align:center}
#blog-pager-newer-link{float:left}#blog-pager-older-link{float:right}
#blog-pager a:link,#blog-pager a:visited{display:inline-block;color:#fff;font-size:14px!important;padding:10px 20px;margin:5px;background:#5cb9c1;text-transform:uppercase;font-weight:700;transition:all .3s}
#blog-pager a:link:hover,#blog-pager a:visited:hover{background:#127c7a;color:#fff;}
#blog-pager{text-align:center;border:0}
.comments-content {display:block;position:relative;margin-top:20px;}
